@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.snap-container {
    height: 100vh;
    overflow: auto;  
    scroll-snap-type: y mandatory;
}

.snap-section {
    text-align: center;
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-section2 {
    text-align: center;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.columna {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.popayan {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    height: 100vh; /* Asegura que el contenedor tenga altura completa de la ventana */
    margin-left: 2rem; /* Elimina márgenes por defecto */
    color: #fff;
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.fade-overlay.active {
    opacity: 1;
}
