@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------boton whatsapp------------------------------------------------*/
.btn__wsp{
    position: fixed;/*Posicion fija en la pantalla*/
    width: 50px;
    height: 50px;
    line-height: 46px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: transform 0.3s ease;/* animación para cuando crezca el boton */
}

.btn__wsp:hover{
    text-decoration: none;
    background: #fff;
    transform: scale(1.5);/* hace mas grande la escala al colocar el raton */
}

.icon__whatsapp{
    filter: invert(86%) sepia(78%) saturate(0%) hue-rotate(74deg) brightness(112%) contrast(100%);
}
.icon__whatsapp:hover{
    filter: invert(85%) sepia(29%) saturate(5655%) hue-rotate(80deg) brightness(97%) contrast(98%);
}

/* ----------------------------------------NavBar------------------------------------ */
#options{
    gap: 1.1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar {
    position: fixed; /* Mantiene la barra de navegación fija en la parte superior */
    width: 100%; /* Asegura que la barra de navegación cubra todo el ancho */
    z-index: 1000; /* Un valor alto para asegurar que esté por encima de otros contenidos */
}

/* ----------------------------Sección bienvenidos al Cauca------------------------ */
.container1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    /*Ocupe el 100% del ancho de la pantalla*/
    height: 100%;   /*Ocupe el 100% del alto de la pantalla*/
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../IMAGES/parque.JPEG'); /*Coloca la imagen de la figura con un negradado en negro*/
    background-size: cover; /*Para adaptarse a la pagina*/
    background-position: center; /*Para mover la imagen que esta dentro del contenedor*/
    clip-path: polygon(50% 95%, 100% 80%, 100% 0, 0 0, 0 80%);
    z-index: -1;
}

.container1 {
    width: 90%; /*Ocupar el porcentaje deseado de la pagina*/
    margin: 0 auto; /*0 para centrar verticalemnete y margin auto de ambos lados*/
}

.welcome{
    max-width: 800px;   /*ancho maximo*/
    display: grid;
    grid-auto-rows: max-content;    /*Para que las filas no ocupen más de lo que deberian*/
    align-content: center;  /*que el contenido se alinee verticalmente*/
    gap: 1rem;   /*espaciado*/
    padding-bottom: 200px;  /*Para que no se pegue al corte (movimiento vertical dentro del contenedor)*/
    text-align: center; /*los textos que contienen esten centrados*/
}

.paragraph{
    margin-bottom: 20px;    /*margen entre texto y boton*/
    color: #fff;
}

.Title{
    margin-top: 30%;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.description{
    text-align: center;  
    padding-top: 7%;
    color: #0832A2;   
}
.info__destination{
    margin-top: 7rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.info__paragraph{
    font-size: 17px;
}

/* -------------------------------Carrusel de imagenes------------------------------- */

.carousel-inner{
    max-height: 39rem;
}
.carousel-item::before{
    content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el ancho del texto según sea necesario */
    text-align: center;
    color: white;
  }

/*----------------------------------------final pagina----------------------------------------------*/
.finalPage {
    text-align: center; /* Para centrar los elementos horizontalmente */
    font-size: 0.75rem;
    background: url(../ICONS/wave.svg) no-repeat center center;
    background-color: #0832A2;
    background-size: cover;
    color: #fff;
}

.container__final{
    transform: scale(0.9);
    margin-top: -6rem;
}

.desing__for{
    margin-top: 140px;
}
.logos__container {
    display: flex; /* Mostrar los logos en línea */
    justify-content: center; /* Centrar los logos horizontalmente */
    align-items: center; /* Centrar los logos verticalmente */
    margin-bottom: 5px; /* Espacio entre los logos y el siguiente elemento */
    width: 105%;
    transform: scale(0.8);
}
.logos__container img {
    margin: 0 10px; /* Espacio entre los logos */
}
.fusioni3{
    transform: scale(0.6);
}
.fusion{
    margin-bottom: -30px;
}

/* texto en carrusel para celulares */
@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1rem; /* Tamaño de fuente reducido para los títulos en móviles */
        padding: 0 10px; /* Agrega padding si es necesario para evitar que el texto toque los bordes */
    }

    .carousel-caption p {
        font-size: 0.6rem; /* Tamaño de fuente más pequeño para los párrafos en móviles */
        padding: 0 10px; /* Agrega padding para mejorar la legibilidad */
        line-height: 1.4; /* Ajusta el interlineado para mejorar la legibilidad */
    }
}


